.card {
    width: 150px;
    height: 212px;
    margin: 15px;
    box-shadow: 0 2px 20px 0 rgba(125, 125, 125, 0.4);
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
}

.card img {
    width: 150px;
    height: 150px;
}

.card p {
    line-height: 30px;
    height: 30px;
    margin: 0;
    text-transform: capitalize;
    font-weight: bold;
    background-color: #F2F9FB;
}

.card button {
    width: 100%;
    border: 0 none;
    background-color: #3898d4;
    border-radius: 0;
}