.App-header {
    background-color: #222;
    height: 120px;
    padding: 20px;
    color: white;
}

.App-logo {
    height: 65px;
}

.App-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.App-header h1, .App-header h3 {
    margin: 10px 0;
}