.userContainer {
    position: relative;
    width: 630px;
    height: 340px;
    background-color: #F2F9FB;
    margin: 90px auto;
    box-shadow: 0 2px 20px 0 rgba(125, 125, 125, 0.4);
    border: 1px solid #1a4063;
    border-radius: 4px;
}

.userContainer button {
    position: absolute;
    top: -75px;
    left: 0;
}

.userContainer h1 {
    background-color: #1a4063;
    margin: 0;
    padding: 5px;
    color: white;
}

.userContainer img {
    width: 250px;
    height: 250px;
    float: left;
    margin: 20px;
}

.userContainer p {
    text-align: left;
}

.userContainer.noUser p {
    text-align: center;
}

.dl-horizontal {
    width: 50%;
    color: #626362;
    text-align: left;
    float: left;
    margin: 27px 0;
    display: flex;
    flex-direction: column;
}
.dl-horizontal div {
    margin: 5px 0;
}

.dl-horizontal dt {
    width: 65px !important;
    color: #1a4063;
    height: 25px;
    line-height: 25px;
    margin: 2px;
    float: none !important;
    text-align: left !important;
}

.dl-horizontal dd {
    margin-left: 0 !important;
    color: #626366;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    margin: 0;
    padding: 0 10px;
}
